<div class="logo-details">
  <app-header-details (buttonSaveChange)="save()"> </app-header-details>

  <div class="logo-details__block">
    <app-logo-edit
      [logoText]="objLogo.text"
      [objImgFont]="objImgFont"
      [idImgS]="idImgS"
      (logoTextChange)="changeText($event)"
      (logoFontChange)="changeFont($event)"
      (logoImgChange)="changeImg($event)"
    >
    </app-logo-edit>

    <div class="logo-details__canvas-wrap">
      <canvas
        class="logo-details__canvas"
        #detailsEl
        [ngStyle]="{'background-image': 'url(./assets/bg-canvas.png)'}"
        width="1590"
        height="500"
      ></canvas>
    </div>
  </div>
</div>
<ngx-spinner bdColor="rgba(0,11,0,0.7)"> </ngx-spinner>
